.how-it-works h1 {
  color: #fff;
}

.date-span {
  color: #e873a8;
  line-height: 20px;
}

.how-it-works {
  margin: 80px auto 0px auto;
  text-align: center;
  max-width: 819px;
  width: 100%;
}

/* welcome section */

.welcome-div {
  margin: auto;
  max-width: 991px;
  width: 100%;
}

.welcome-sect h3 {
  margin-bottom: 50px;
}

.benefit {
  margin-top: 100px;
  margin-bottom: 150px;
}

.benefit-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.benefit-img-div {
  position: relative;
}

.img-content-div {
  text-align: center;
  position: absolute;
  height: 184px;
  width: 325px;
  padding: 25px 15px;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
  top: 85%;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.img-content-div p {
  font-size: 16px;
}

/* work card section  */
.work-sect {
  background-color: #F9F9F9;

}

.work-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.work-cards .mycard {
  margin: 14px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  padding: 20px;
  height: 209px;
  width: 376px;
  background-color: white;
  border-radius: 20px;
box-shadow:  5px 30px 56.12757110595703px 0px rgba(55, 55, 55, 0.11);

}

.work-cards .mycard > span{
  height: 80px;
width: 80px;
border-radius: 50%;
background-color: #e873a8;
margin-right: 0px;
display: flex;
justify-content: center;
align-items: center;
font-size: 36px;
font-weight: 700;
line-height: 47px;
color: white;
}

.work-cards .mycard p{
width: 226px;
}

.work-sect h5{
  height: 88px;
max-width: 618px;
width: 100%;
font-size: 22px;
font-weight: 700;
line-height: 44px;
margin:80px auto 0px auto;

}

/* market entry sect */

.market-divs > div{
  margin-bottom: 30px;
}

/* submit sect */
.submit-sect{
  background-color: #f9f9f9;
}

.form-div{
  margin-top: 50px;
  background-color: #fff;
  box-shadow: 5px 30px 56.12757110595703px 0px rgba(55, 55, 55, 0.11);
  border-radius: 20px;
  padding: 50px 40px;
}

 .left-btn{
  display: flex;
 justify-content: flex-end;
}