.how-it-works h1 {
  color: #fff;
}

.date-span {
  color: #e873a8;
  line-height: 20px;
}

.how-it-works {
 padding-top: 80px;
  text-align: center;
  max-width: 819px;
  width: 100%;
}

/* welcome section */

.welcome-div {
  margin: auto;
  max-width: 991px;
  width: 100%;
}

.welcome-sect h3 {
  margin-bottom: 50px;
}

.benefit {
  margin-top: 100px;
  margin-bottom: 150px;
}

.benefit-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.benefit-img-div {
  position: relative;
  max-width: 350px;
  width: 100%;
}

.benefit-img-div img{
  width: 100%;
}

.img-content-div {
  text-align: center;
  position: absolute;
  height: 184px;
  width: 300px;
  padding: 25px 15px;
  z-index: 3;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  top: 85%;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.img-content-div p {
  font-size: 16px;
}

/* work card section  */
.work-sect {
  background-color: #F9F9F9;

}

.work-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.work-cards .mycard {
  margin: 14px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  padding: 20px;
  height: 209px;
  width: 376px;
  background-color: white;
  border-radius: 20px;
box-shadow:  5px 30px 56.12757110595703px 0px rgba(55, 55, 55, 0.11);

}

.work-cards .mycard > span{
  height: 80px;
width: 80px;
border-radius: 50%;
background-color: #e873a8;
margin-right: 0px;
display: flex;
justify-content: center;
align-items: center;
font-size: 36px;
font-weight: 700;
line-height: 47px;
color: white;
}

.work-cards .mycard p{
width: 226px;
}

.work-sect h5{
  height: 88px;
max-width: 618px;
width: 100%;
font-size: 22px;
font-weight: 700;
line-height: 44px;
margin:80px auto 0px auto;

}

/* market entry sect */

.market-divs > div{
  margin-bottom: 30px;
}

/* submit sect */
.submit-sect{
  background-color: #f9f9f9;
}

.form-div{
  margin-top: 50px;
  background-color: #fff;
  box-shadow: 5px 30px 56.12757110595703px 0px rgba(55, 55, 55, 0.11);
  border-radius: 20px;
  padding: 50px 40px;
  display: flex;
  flex-wrap: wrap;
}

.form-div input, .MuiSelect-selectMenu{
  width:450px !important;
}

.MuiSelect-outlined.MuiSelect-outlined {
    padding-right: 15px !important;
}
 .left-btn{
  display: flex;
 justify-content: flex-end;
}

@media screen and (max-width:1026px){
  .benefit-div {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: center;
}

.form-div{
  padding: 50px 20px;
}

.form-div input, .MuiSelect-selectMenu{
  width:400px !important;
}

.benefit-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.benefit-img-div {
  position: relative;
  max-width: 290px;
  /* width: 100%; */
}

.img-content-div {
  height: 154px;
  width: 280px;
  padding: 15px 15px;
}

.img-content-div p{
   font-size: 14px !important;
}
}

@media screen and (max-width:769px){
  .form-div{
  padding: 50px 20px;
}

.form-div input, .MuiSelect-selectMenu{
  width:600px !important;
}

.benefit-img-div {
  position: relative;
  max-width: 300px;
  /* width: 100%; */
}

.benefit-img-div:nth-of-type(3){
  margin: 150px auto 0px auto;

}

}
@media screen and (max-width:550px){
  .form-div{
  padding: 50px 20px;
}


.form-div input, .MuiSelect-selectMenu{
  max-width:100% !important;
}

.benefit-img-div {
  position: relative;
  /* width: 100%; */
}

.benefit-img-div:nth-of-type(3){
  margin: 0px auto;

}

.benefit-img-div{
  margin: 0px auto 150px auto;
}


.img-content-div{
  width: 80%;
}
}


@media screen and (max-width:376px){
  .form-div{
  padding: 50px 10px;
}

.work-cards .mycard {
  margin: 14px;

  padding: 10px;
 
}
  .work-cards .mycard > span{
  height: 60px;
width: 60px;
}
}