/* top header section */
.top-header {
  margin: 0;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 180px;
}

.top-header-text {
  max-width: 505px;
  width: 100%;
  color: #fff;
  padding-top: 50px;
  text-align: left;
}

.white-p {
  color: #fff;
  font-size: 20px;
  line-height: 36px;
}

/* learn about us section */

.learn-section .home-phone {
  width: 600px;
  height: 100%;
  object-fit: cover;
  margin-top: 60px;
}

.learn-card {
  max-width: 530px;
  width: 100%;
  text-align: left;
}

/* trade section */
.btn-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.trade-section,
.help-section {
  background-color: #f9f9f9;
}

.trade-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.trade-flex .img,
.trade-flex .img-logistics {
  height: 450px;
  max-width: 550px;
  width: 100%;
  position: relative;
  margin-bottom: 50px;
}

.trade-flex .img-logistics img {
  border-radius: 10px 0px 10px 0px;
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.trade-flex .img::before {
  position: absolute;
  content: '';
  width: inherit;
  height: inherit;
  border-radius: 0px 0px 10px 0;
  background-color: #e873a8;
  left: 20px;
  top: 20px;
  z-index: 1;
}

.trade-flex .left-img::before {
  left: 0px;
  border-radius: 0px 10px 0px 10px !important;
}

.trade-flex .left-img img {
  left: 20px;
  top: 0px;
  border-radius: 0px 10px 0px 10px !important;
}

.trade-flex .img img {
  object-fit: cover;
  width: inherit;
  height: inherit;
  border-radius: 10px 0px 10px 0;
  position: absolute;
  z-index: 3;
}

.launchers,
.finances {
  margin-top: 100px;
}

/* accordion section */
.accordion-section {
  display: flex;
  flex-direction: column;
  padding: 20px 100px;
}

.accordion-section.colored {
  background-color: #f9f9f9;
}

.accordion {
  background-color: transparent;
  color: #190d2d;
  cursor: pointer;
  padding-top: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  outline: none !important;
  transition: background-color 0.6s ease;
  border-bottom: 1px solid #cccaca;
  text-align: left;
}

.accordion.active {
  border: none !important;
}

.accordion:hover .active,
.accordion-section:hover .accordion {
  color: #e873a8 !important;
}

.accordion-title {
  font-weight: 700;
  font-size: 22px;
}

.accordion-title:hover,
.fa-chevron-down:hover {
  color: #e873a8 !important;
}

.fa-chevron-down {
  transition: transform 0.6s ease;
}

/* rotate icon on active */
.rotate {
  transform: rotate(180deg);
}

/* accordion content */
.accordion-content {
  overflow: hidden;
  transition: max-height 0.6s ease;
  text-align: left;
}

.accordion-text {
  padding-top: 5px;
}

/* help section */
.help-centered-div {
  max-width: 561px;
  width: 100%;
}

.myform {
  margin: 80px 0px 200px 0px;
}

.myform input {
  width: 550px;
}

.textfield-div {
  margin-bottom: 60px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: goldenrod;
  justify-content: space-between;
  align-items: center;
}

.call-us-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px 0;
}

.call-us-div p {
  font-family: Palatino;
  font-size: 24px;
  font-weight: 700;
  line-height: 0px;
  margin-bottom: 30px;
  color: #190d2d;
}

.call-us-div span {
  color: #e873a8;
}

/* start trading section */
.trading-sect {
  position: relative;
  background-color: #fff;
}

.trading-absolute {
  border-color: #fff;
  background-color: #fff;
  box-shadow: 0 -19px 24px 2px rgba(41, 40, 40, 0.03);
  margin-top: -250px;
  height: 403px;
  border-radius: 26px;
  text-align: left;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.absolute-div {
  width: 364px;
}

.trading-absolute img {
  width: 400px;
  height: 500px;
  object-fit: cover;
}

/* newsletter */
.news-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.news-div h3,
.news-div p {
  color: #fff;
}

.news-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.news-form .input-div {
  width: 400px;
  background-color: #fff;
}

.news-form button {
  margin-left: 20px;
}

.news-form > div {
  margin: 0 10px;
}

@media screen and (max-width: 1329px)and (min-width:1162px) {
  .trade-flex .img {
    height: 450px;
    max-width: 500px;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
  }

  .trade-flex .img, .trade-flex .img-logistics{
    height: 380px;
    max-width: 380px;
  }
}

@media screen and (max-width: 1299px) {
  .top-header {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 180px;
    padding: 0px 50px 70px 50px;
  }
}

@media screen and (max-width:1161px) and (min-width:949px){
   .learn-section .home-phone {
    width: 400px;
  }

     .trade-flex .img, .trade-flex .img-logistics{
    height: 400px;
    max-width: 400px;
  }

  .myform input {
    width: 430px;
  }
}

/* @media screen and (max-width:1111px){
   .myform input {
    width: 460px;
  }

   .myform .margined-input {
    margin-top: 40px !important;
  }
} */

@media screen and (max-width:948px) and (min-width:846px){
 
   .myform .margined-input {
    margin-top: 40px !important;
  }

   .learn-section .home-phone {
    width: 350px;
  }

    .trade-flex .img, .trade-flex .img-logistics{
    height: 350px;
    max-width: 350px;
  }
}
@media screen and (max-width: 1024px) {
  .top-header {
    padding: 0px 50px 100px 50px;
  }

  .learn-card {
    max-width: 400px;
  }

  /* .learn-section .home-phone {
    width: 450px;
  }

  .trade-flex .img, .trade-flex .img-logistics{
    height: 400px;
    max-width: 400px;
  } */

  .accordion-section {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
  }

 
}

@media screen and (max-width: 845px) {
  .top-header {
    margin: 0;
    padding: 0px 30px 100px 30px;
  }

  .trade-flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .learn-card {
    max-width: 100%;
  }

  .learn-section .home-phone {
    width: 100%;
    margin-top: 50px;
  }

  .learn-btn-div {
    width: 70%;
  }

  .trade-flex .img,
  .trade-flex .img-logistics {
    height: 400px;
    max-width: 100%;
    margin-bottom: 50px;
  }

  .learn-section {
    background-color: #fff;
    flex-direction: column-reverse;
  }

  .finances {
    flex-direction: column-reverse;
  }

  .trade-flex .img,
  .trade-flex .img-logistics {
    margin-top: 50px;
  }

  .trade-flex img {
    object-fit: cover;
    width: 100%;
  }

  .trading-absolute {
    padding: 20px;
  }

  .trading-absolute img {
    width: 300px;
    height: 400px;
  }

  .accordion-section {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
  }

  .accordion-title {
    font-weight: 700;
    font-size: 18px;
  }

  .call-us-div {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px 0;
  }

  .help-form-row {
    margin: 50px 70px 150px 70px;
  }

  .input-div {
    margin-top: 30px;
  }

  .call-us-div p {
    margin-top: 50px;
  }

  .my-textarea {
    margin-top: 0px;
  }

   .myform .margined-input {
    margin-top: 40px !important;
  }
 
}

/* @media screen and (max-width:600px){
  .trade-flex .img img {
  object-fit: contain;
  background-color: green;
}
} */

@media screen and (max-width: 540px) {
  h1 {
    font-size: 40px;
    line-height: 50px;
  }

  a {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    color: #fff !important;
    margin-top: 20px;
  }

  .top-header-text a {
    font-size: 14px !important;
  }

  .learn-btn-div {
    width: 100%;
  }

  .news-form button {
    margin-top: 30px;
  }

  .trading-sect {
    position: relative;
    background-color: #fff;
    padding: 20px;
  }

  .trading-absolute {
    margin-top: -250px;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .absolute-div {
    width: 100%;
  }

  .trading-absolute img {
    margin-top: 40px;
    width: 300px;
    height: 400px;
  }

  .accordion {
    padding-top: 18px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .accordion-title {
    line-height: 40px;
  }
  .accordion-section {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
  }

  .fa-chevron-down {
    line-height: 40px;
  }

  .help-form-row {
    margin: 50px 0px 150px 0px;
  }

  .frequent-qst p {
    margin-top: 30px;
  }

  input,
  textarea {
    padding: 15px;
    margin-top: 20px;
  }

  .call-us-div p {
    font-size: 20px;
  }

  .btn-div .btn-text {
    margin-bottom: 30px;
  }

  .my-textarea {
    margin-top: 20px !important;
  }
}

@media screen and (max-width:500px){
 .news-form input {
    width: 90%;
    margin: auto;
  }
}

@media screen and (max-width:465px){
    .trade-flex .img, .trade-flex .img-logistics{
    height: 350px;
    max-width: 95%;
  }

  .trade-flex .img::before {
  
  left: 10px;
  top: 10px;
  z-index: 1;
}

.trade-flex .left-img::before {
  left: 0px;
  border-radius: 0px 10px 0px 10px !important;
}

.trade-flex .left-img img {
  left: 10px;
  top: 0px;
  border-radius: 0px 10px 0px 10px !important;
}
}
@media screen and (max-width: 415px) {
  .top-header {
    margin: 0;
    padding: 0px 15px 50px 15px;
  }

    .learn-btn-div {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
}

@media screen and (max-width: 376px) {
  h1 {
    font-size: 35px;
  }

  a {
    font-size: 16px;
  }

  .absolute-div h3 {
    font-size: 24px;
  }

  .news-form input {
    width: 300px;
    margin: auto;
  }

  .learn-section .home-phone {
    margin-top: 70px;
  }
}

@media screen and (max-width:300px){
      .learn-btn-div {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
}