.form-sect {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  background-color: #0e1f33;
}
.form-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-sect .small,
.form-sect .large,
.form-sect .medium {
  position: absolute;
}

.form-sect .small {
  top: 175.42px;
  left: 28.04px;
}

.form-sect .large {
  bottom: 0px;
  left: 0;
}

.form-sect .medium {
  top: 100px;
  right: 21.9px;
}

.form-welcome-sect {
  background-color: #0e1f33;
  max-width: 563px;
  width: 100%;
  min-height: 900px;
  height: 100vh;
  padding: 50px 30px;
  position: relative;
}

.my-absolute {
  position: absolute;
  z-index: 200;
}

.my-absolute h3 {
  color: #fff;
  margin-top: 50px;
  margin-bottom: 50px;
}

.my-absolute p {
  color: #fff;
  margin-bottom: 50px;
}

.title-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.pink-div {
  background: #e873a8;
  height: 11px;
  width: 36.67px;
  border-radius: 100px;
}

.grey-div {
  background: #b7c0ce;
  height: 11px;
  width: 36.67px;
  border-radius: 100px;
}

.colored-div {
  display: flex;
}

.colored-div > div {
  margin: 0 5px;
}
.form-field {
  padding: 40px;
  width: 100%;
  background-color: #e5e5e5;
  min-height: 900px;
  height: 100vh;
}

em {
  font-size: 13px;
}

label {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: #646464;
}

.mycheckbox {
  padding-right: 30px;
  padding-bottom: 20px;
}

.next-form label {
  color: #190d2d;
  font-weight: 700;
}

.next-form input {
  margin-bottom: 30px;
  padding: 15px;
}

.submit-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submit-btn .previous {
  color: #646464 !important;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 34px;
}

.submit-btn .fa-chevron-left {
  padding-right: 13px;
  font-size: 10px;
}

@media screen and (max-width: 1026px) {
  .form-welcome-sect {
    max-width: 400px;
    width: 100%;
    height: 100%;
    padding: 50px 30px;
  }

  .my-absolute {
    right: 15px;
    left: 15px;
  }

  .form-field {
    height: 100%;
    padding: 50px 15px;
  }

  .next-form input {
    width: 100% !important;
    margin-bottom: 30px;
    padding: 15px 5px;
  }
}

@media screen and (max-width: 825px) {
  .form-sect {
    background-color: transparent;
  }

  .title-flex {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .my-absolute h3 {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .my-absolute p {
    margin-bottom: 30px;
  }

  .form-sect {
    flex-direction: column;
    height: 100%;
  }

  .form-welcome-sect {
    max-width: 100%;
    min-height: 550px;
    height: 100%;
    padding: 50px 30px;
  }

  .next-form input {
    margin-top: 0px !important;
  }
}

@media screen and (max-width: 615px) {
  .form-welcome-sect {
    max-width: 100%;
    padding: 30px 30px;
  }

  .my-absolute h3 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .my-absolute p {
    margin-bottom: 20px;
  }

  .back-home {
    font-size: 16px;
  }
}

@media screen and (max-width: 491px) {
  .form-welcome-sect {
    max-height: 700px;
    max-width: 100%;
    padding: 30px 30px;
  }

  .my-absolute h3 {
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .my-absolute p {
    margin-bottom: 15px;
    font-size: 14px !important;
  }
}
@media screen and (max-width: 415px) {
  .form-welcome-sect {
    max-width: 100%;
    min-height: 550px;
  }

  .my-absolute h3 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 376px) {
  .form-welcome-sect {
    padding: 20px 30px;
    min-height: 580px;
  }
}

@media screen and (max-width: 345px) {
  .form-welcome-sect {
    padding: 20px 30px;
    min-height: 620px;
  }
}

@media screen and (max-width: 308px) {
  .form-welcome-sect {
    padding: 20px 30px;
    min-height: 700px;
  }

  .form-sect .large {
    width: 250px;
    object-fit: cover;
  }
}
