.mobile-view{
  display: none !important
}

.mynavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
}

.mobile-nav {
  display: none;
}

.mynavbar ul {
  display: flex;
  list-style: none;
}

.mynavbar ul li {
  margin: 0 50px;
}

.mynavbar ul li .nav-link:hover {
  color: #e873a8 !important;
}

.mynavbar .right-nav {
  display: flex;
  justify-content: space-between;
}

.mynavbar .dark-link {
  color: #646464 !important;
}

.navbar-brand {
  margin-top: 0px !important;
}
.navbar-brand img {
  width: 130px;
}

.iconbar {
  cursor: pointer;
  display: none;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 4px;
  background: 
#fff;
  margin: 6px 0;
  transition: 0.4s;
}
.darkBar {
  background: #190D2D !important;
}

.bar2 {
  width: 25px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media screen and (max-width:1034px){
  .mynavbar ul li {
  margin: 0 20px;
}

}
@media (max-width: 854px) {
  .web-view{
    display: none;
  }
  .web-nav {
    display: none !important;
  }

  .mynavbar .dark-link {
  color: #190D2D !important;
}
  .mobile-nav {
    display: block;
  }

  .iconbar {
    cursor: pointer;
    display: block;
  }

  .mobile-view{
    display: flex !important;
  }

  .mynavbar ul{
    padding-left: 0 !important;
  }
  .mynavbar ul li {
  margin: 0 0px;
}
  .mynavbar .right-nav {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top:70px;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    padding: 0px 0px;
    transition: 0.3s linear;
    box-shadow: 5px 30px 56.12757110595703px 0px rgba(55, 55, 55, 0.11);
  
  }

  .hide-nav{
      transform: translateY(-700px);
  }

   .show-nav {
    transform: translateX(0);
  }

  .mobile-btn{
    padding: 20px 30px;
    font-size: 20px;
  }

  .mynavbar li a{
    line-height: 60px;
    font-weight: 700;
    font-size: 28px;
    color: #190D2D !important;

  }

  .mynavbar li::after {
    content: '';
    display: none;
  }

 .mynavbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
}

@media screen and (max-width:415px){
    .mobile-nav {
    /* padding: 0 10px; */
  }
}