.navbar{
    background-color:transparent !important;
}

.navbar .nav-item{
    margin: 0 40px;
}
.navbar .nav-link{
    color: #fff ;
}

.navbar .nav-link:hover{
    color: #E873A8 !important;
}

.navbar .dark-link{
    color: #646464 !important;
}