.buyer-sect,
.buyer-profile-sect {
  background-color: #f9f9f9;
}

.buyer-sect .right-deal {
  width:100%;
  height: 700px;
}

.buyer-sect .right-deal img{
  width: inherit;
  height: inherit;
  object-fit: contain;
}
.buyer-seller h1 {
  margin-bottom: 20px;
}

.ordered-list {
  padding: 15px;
}

.ordered-list li {
  line-height: 36px;
  color: #646464;
}

.nothing-text{
    font-size: 24px;
    color: #190D2D;
    font-weight: 700;
}

.MuiTimelineItem-missingOppositeContent:before {
  flex: 0 !important;
  content: "";
  padding: 0 !important;
}

/* create profile */
.buyer-profile-sect .profile-left{
   width:100%;
  height: 100%;
}

.buyer-profile-sect .profile-left img{
   width: inherit;
  height: inherit;
  object-fit: cover;
  margin-top: -20px;
}

.create-profile{
    background-color: #F9F9F9;
}


 .MuiTimelineItem-missingOppositeContent:before{
      flex: 0 !important;
      content: '';
      padding: 0 !important
    }
    
.app-link{
  display: inline;
  color:#E873A8 !important;
  font-size: 16px;
  font-weight: 400;
}

@media (max-width:1024px){
  .profile-left img{
    width: 400px;

  }

  .buyer-h5{
    line-height: 45px !important;
  }

  .buyer-seller {
    max-width: 500px ;
  }

.buyer-sect .right-deal {
  width:300px;
  height: 100%;
}

.buyer-sect .right-deal img{
  object-fit: cover;
}

}

@media (max-width:769px){
  .profile-left img{
    width: 400px;

  }

  .buyer-seller {
    max-width: 100% ;
    margin-bottom: 40px;
  }

.buyer-sect .right-deal {
  width:400px;
  height: 100%;
  margin: auto;
}

.buyer-profile-sect .profile-left{
   width:100%;
  height: 100%;
  margin-bottom: 50px;
}

.buyer-profile-sect .profile-left img{
   width: inherit;
  height: inherit;
  object-fit: cover;
  margin-top: -50px;
}

}

@media screen and (max-width:550px){
 .buyer-sect .right-deal {
  width:300px;
  height: 100%;
  margin: auto;
}

  .buyer-h5{
    line-height: 45px !important;
  }
}

@media screen and (max-width:380px){
 .buyer-sect .right-deal {
  width:200px;
  height: 100%;
  margin: auto;
}
}