@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif !important;
  width: 100%;
  overflow-x: hidden !important;
  margin: 0px !important;
  padding: 0 !important;
}

/* general styling */
h1 {
  font-size: 68px;
  font-weight: 700;
  line-height: 88px;
  
}

h3{
  font-size: 36px;
}

h5{
  font-size: 32px;
}

h6{
  font-size: 22px;
  line-height: 36px;
  font-weight: 700;
   color: #190d2d;
}

h5,
h3 {
  
  font-weight: 700;
  line-height: 50px;
  color: #190d2d;
}

strong {
  color: #190d2d;
}

p {
  font-size: 16px;
  color: #646464;
  font-weight: 400;
  line-height: 32px;
  word-break: break-word;
}

a {
  display: block;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  color: #fff !important;
  margin-top: 20px;
}

section {
  padding: 100px 130px;
}

@media screen and (max-width: 1299px) {
  section {
  padding: 100px 70px;
 
}
}

@media screen and (max-width: 1024px) {
  section {
  padding: 100px 50px;
}
}

@media screen and (max-width:769px){
  .web-nav{
    display: none;
  }
}

@media screen and (max-width: 500px){
  section {
padding: 100px 15px;
}
}