.top-terms {
  background-color: #f9f9f9;
  /* padding: 50px 100px; */
}

.terms-header {
  max-width: 700px;
  width: 100%;
  margin: 120px auto 50px auto;
  text-align: center;
}

.terms-header p {
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  padding-top: 40px;
}

hr {
  margin: 60px 0;
}

.message-div {
  margin-bottom: 60px;
}

.message-div h5 {
  margin-bottom: 30px;
}

.message-div ul {
  list-style-type: lower-alpha;
  display: block;
}

.message-div .roman-list{
  list-style-type: lower-roman;
}

.message-div .bullet-list{
  list-style-type: initial;
}

.message-div a {
  display: inline !important;
  color: #e873a8 !important;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
}
